---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="关于">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">关于我</h2>
        <div class="tag-post-list">
          <ul>
            <li>爱折腾</li>
            <li>爱电影</li>
            <li>爱音乐</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">关注我</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              <a href="https://github.com/Sweetrbis" target="_blank">Github</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">随想</h2>
        <div class="tag-post-list">
          <ul>
            <li>平淡就好</li>
            <li>屏蔽垃圾输入，寻求优质信息源， 才能输出优质信息。</li>
            <li>看到这，你已经被我的观念输入一遍了。</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">电影推荐</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              《猫鼠游戏》
              <div>首先，我认为这部电影的剧情非常有趣。影片通过讲述一个年轻的骗子如何成功地骗取巨额财富，同时躲避FBI探员的追捕，展现了一个惊心动魄的故事。影片中的节奏非常紧凑，从一开始就让观众紧张兴奋地跟随着故事的发展。

                其次，我认为莱昂纳多和汤姆·汉克斯的表演非常出色。莱昂纳多在电影中塑造了一个聪明、机智、有魅力的角色，他的表演非常自然，让人难以忘记。汤姆·汉克斯则扮演了一个充满正义感的FBI探员，他的表演让人深受感动。两位演员的合作使得影片更加出色，让观众更加享受电影的观影体验。
                
                最后，我认为这部电影的音乐和场景设置都非常棒。音乐非常动感，为影片的气氛营造了一种紧张的氛围。场景设置也非常出色，再现了20世纪60年代的美国风情，让观众感受到了时代背景的重要性。
                
                总之，我认为《猫鼠游戏》是一部非常出色的电影，它展现了一个惊险刺激的故事，融合了优秀的表演、音乐和场景设计，值得观众们去一睹其风采。</div>

            </li>
          </ul>
        </div>
      </div>

    </div>
  </section>
</BaseLayout>
